body {
    background-color: #d1d1d1;
}

h1 {
   text-align: center;
   margin-top: 25px;
   font-size: 4em;
   font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: rgb(255,255,255);
}

a:hover {
    color: salmon;
    cursor: pointer;
}