/* General Styling */

body {
    background-color: #ffffff;
}

h1 {
   text-align: center;
   margin-top: 15px;
   font-size: 4em;
   font-family: 'Roboto', sans-serif;
   border-bottom: 3px solid #424242;
}

h2 {
    padding-top: 10px;
}

a {
    text-decoration: none;
    color: #363636;
}

a:hover {
    color: #ff547f;
    cursor: pointer;
}

.separator {
    margin-top: 0;
}

/* Island Selection for Pie Chart Styling */

.overviewbt {
    width: 100%;
    height: 180px;
    border: none;
    background-color:#47a2d6;
}

.arcoverview {
    display: none;
}

.islandselect {
    background-color: #47a2d6;
    z-index: 5;
}

.figs {
    height: 30%;
    width:30%;
}

figcaption {
    color: #ffffff;
}

.figs:hover {
    border-style: solid;
    border-radius: 50%;
}

.dreamhover:hover {
    background-color: #ffea00;
}

.torgersenhover:hover {
    background-color: #FC766AFF;
}

.biscoehover:hover {
    background-color: #184A45FF;
}

/* Histogram Zoom Styling */

.test_Adelie:hover {
    cursor: pointer;
}

.test_Gentoo:hover {
    cursor: pointer;
}

.test_Chinstrap:hover {
    cursor: pointer;
}

.pcselector {
    transform: translateY(-40px);
    font-size: 12px;
}
